<style>
body {
  overflow: hidden !important;
}
.signup-page {
  overflow: hidden !important;
}
</style>

<div class="signup-page">  
  <div class="signup-container container">
    <h3>Sign up</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      
      <br />
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control input', placeholder: 'Enter Email Address' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control input', placeholder: 'Enter Password'  %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control input', placeholder: 'Confirm Password' %>
      </div>
      <br/>

      <div class="actions form-group">
        <%= f.submit "Sign up", class: 'form-control btn btn-primary' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>