<div class="container watchlist-container">
  <h1 class="watchlist-title ">Watchlist</h1>
 
  <% @movies_watchlist.each do |movie| %>
    <div class="watchlist-card">
      <div class="center">
        <%= link_to image_tag(movie.picture.url), movie if movie.picture? %>
        <div class="watchlist-div">
          <h1 class="watchlist-card-name"><%= movie.name %></h1>
          <h5 class="watchlist-card-description"><%= movie.description %></h5>
          <%= link_to "View Movie", movie, class: 'btn btn-primary watchlist-card-btn' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="paginate">
  <%= paginate @movies_watchlist %>
</div>

<%= render "layouts/footer" %>