<style>
body {
    overflow: hidden !important;
}

.login-page {
  overflow: hidden !important;
}
</style>

<div class="login-page">
  <div class="login-container container">
    <h3>Login</h3>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <br />
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control input', placeholder: 'Enter Your Email' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control input', placeholder: 'Enter Your Password' %>
      </div>

        <div class="form-group form-check">
          <% if devise_mapping.rememberable? -%>
            <span class="remember-me">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              <%= f.label :remember_me, class: "form-check-label" %>
            </span>
          <% end -%>
          
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <span class="forgot"><%= link_to "Forgot?", new_password_path(resource_name) %></span>
            <br />
          <% end -%>
        </div>

      <div class="actions form-group">
        <%= f.submit "Login", class: 'form-control btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>